.Rproj.user
.Rhistory
.RData
.Ruserdata
.python-version
.DS_Store
_site/

__pycache__
.pytest_cache
.imported/

/.quarto/
*_cache/
.ipynb_checkpoints/
.venv/

/.venv/

external/

.history/
.vscode/

/.luarc.json
*.code-workspace
