
@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-thin.woff2') format('woff2'), url('_static/fonts/iosevka-term-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedthin.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedthin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-thinoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-thinoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedthinoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedthinoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-thinitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedthinitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedthinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extralight.woff2') format('woff2'), url('_static/fonts/iosevka-term-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedextralight.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extralightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-extralightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedextralightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedextralightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extralightitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedextralightitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-light.woff2') format('woff2'), url('_static/fonts/iosevka-term-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedlight.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedlight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-lightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-lightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedlightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedlightoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-lightitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedlightitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedlightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-regular.woff2') format('woff2'), url('_static/fonts/iosevka-term-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extended.woff2') format('woff2'), url('_static/fonts/iosevka-term-extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-oblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-oblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-italic.woff2') format('woff2'), url('_static/fonts/iosevka-term-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendeditalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendeditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-medium.woff2') format('woff2'), url('_static/fonts/iosevka-term-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedmedium.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-mediumoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-mediumoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedmediumoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedmediumoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-mediumitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedmediumitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedmediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-semibold.woff2') format('woff2'), url('_static/fonts/iosevka-term-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedsemibold.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedsemibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-semiboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-semiboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedsemiboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedsemiboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-semibolditalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedsemibolditalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedsemibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-bold.woff2') format('woff2'), url('_static/fonts/iosevka-term-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedbold.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedbold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-boldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-boldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-bolditalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedbolditalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedbolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extrabold.woff2') format('woff2'), url('_static/fonts/iosevka-term-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedextrabold.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extraboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-extraboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedextraboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedextraboldoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extrabolditalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedextrabolditalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedextrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-heavy.woff2') format('woff2'), url('_static/fonts/iosevka-term-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('_static/fonts/iosevka-term-extendedheavy.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedheavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-heavyoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('_static/fonts/iosevka-term-heavyoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('_static/fonts/iosevka-term-extendedheavyoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('_static/fonts/iosevka-term-extendedheavyoblique.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-heavyitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-heavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('_static/fonts/iosevka-term-extendedheavyitalic.woff2') format('woff2'), url('_static/fonts/iosevka-term-extendedheavyitalic.ttf') format('truetype');
}
