/* glossary deflist styles */
.glossary_dl dt {
  font-weight: bold;
}

.glossary_dl dd {
  margin-left: 1em;
  line-height: normal;
  text-indent: 2em;
  text-align: justify;
  border-top: 1px dotted;
}

/* glossary reference style */
.glossary-ref {
  cursor: pointer;
  text-decoration: underline dashed;
}

/* glossary definition popup styles */
.glossary-def {
  background-color: var(--quarto-body-bg);
  color: var(--quarto-body-color);
  opacity: 1.0 !important;
  display: none;
  z-index: 1000;
  max-width: 33%;
  border-width: 1px;
  border-style: solid;
  box-shadow: 2px 2px;
  padding: 0.5em;
  outline: 1px dotted;
  outline-offset: -2px;
  text-align: justify;
}

.glossary-def[data-show] {
  display: block;
}
