/*-- scss:rules --*/
.sidebar-title {
  color: #FFFFFF;
}

@font-face {
  font-family: 'Cascadia Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/CascadiaMono.woff2') format('woff2'), url('fonts/CascadiaMono.ttf') format('truetype');
}

.ap-wrapper {
  justify-content: inherit !important;
  align-items: inherit !important;
}

.glossary-def {
  font-size: 100% !important;
}
