on:
  push:
    branches: main

name: Render with Quarto and Publish

# you need these permissions to publish to GitHub pages
permissions:
  contents: write
  pages: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: "Set URLs in _quarto.yml"
        uses: mikefarah/yq@master
        with:
          cmd: |
            export GITHUB_REPOSITORY_NAME="${GITHUB_REPOSITORY_NAME:-${GITHUB_REPOSITORY##*/}}"
            export GITHUB_PAGES_URL="https://${GITHUB_REPOSITORY_OWNER}.github.io/${GITHUB_REPOSITORY_NAME}"
            export GITHUB_REPO_URL="https://github.com/${GITHUB_REPOSITORY}"
            export GITHUB_ISSUE_URL="${GITHUB_REPO_URL}/issues/new"
            # Replace the URLs in _quarto.yml:
            yq -i '
              .website.site-url = strenv(GITHUB_PAGES_URL) |
              .website.repo-url = strenv(GITHUB_REPO_URL) |
              .website.issue-url = strenv(GITHUB_ISSUE_URL)
            ' _quarto.yml
            cat _quarto.yml >&2 # show the file after the changes
      - name: "Update URLs in glossary.yml"
        run: |
          sed -i -E 's/\(\/docs\//(\/compute_docs\/docs\//g' glossary.yml              
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: pre-release
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
      - name: Install R dependencies
        extra-packages:
          any::rmarkdown
      - name: Publish to GitHub Pages (and render) 
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

